.background {
  background-color: black;
  border: none;
  color: black;
  padding: 600px 700px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  left: 0px;
  top:  0px;
  cursor: normal-select;
}




.pong {
  background-color: black;
  border: none;
  color: white;
  padding: 50px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 130px;
  position: fixed;
  left: 445px;
  top:  50px;
  cursor: normal;
}


.classicMode {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 545px;
  top: 400px;
  cursor: pointer;
}

.Multiplayer {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 552px;
  top: 450px;
  cursor: pointer;
}


.Intructions {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 31px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  position: fixed;
  left: 550px;
  top: 500px;
  cursor: pointer;
}





.DevelopedBy {
  background-color: black;
  border: none;
  color: white;
  padding: 50px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  position: fixed;
  top: 555px;
  left: 1050px;
  cursor: normal;
}